<div class="container mt-4">
  <h1 class="text-center">Reactive form with validation in simplest way</h1>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="registerForm.status !== 'INVALID' && registerFn()"
  >
    <div class="mb-3">
      <label for="fullName" class="form-label"> Full Name</label>
      <input
        type="text"
        class="form-control"
        id="fullName"
        placeholder="Full Name"
        formControlName="fullName"
        [ngClass]="{
          error:
            getControl('fullName')?.errors && getControl('fullName')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('fullName')?.errors && getControl('fullName')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('fullName')?.errors?.['required']"
        >
          FullName is required</small
        >
        <small
          class="text-danger"
          *ngIf="getControl('fullName')?.errors?.['minlength']"
        >
          Please enter more than two letter in name</small
        >
      </div>
      <label for="email" class="form-label"> Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Email"
        formControlName="email"
        [ngClass]="{
          error: getControl('email')?.errors && getControl('email')?.touched
        }"
      />
      <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
        <small
          class="text-danger"
          *ngIf="getControl('email')?.errors?.['required']"
        >
          Email is required</small
        >
        <small
          class="text-danger"
          *ngIf="getControl('email')?.errors?.['pattern']"
        >
          Please enter valid email.</small
        >
      </div>
      <label for="password" class="form-label"> Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="password"
        [ngClass]="{
          error:
            getControl('password')?.errors && getControl('password')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('password')?.errors && getControl('password')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('password')?.errors?.['required']"
        >
          Password is required</small
        >
        <small
          class="text-danger"
          *ngIf="getControl('password')?.errors?.['pattern']"
        >
          Please enter valid password.</small
        >
      </div>
    </div>
    <div class="mb-3">
      <input
        type="submit"
        class="btn btn-success"
        [disabled]="registerForm.status === 'INVALID'"
      />
    </div>
  </form>
</div>
