<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/2 xl:w-1/2 p-4 md:w-full">
        <h1 class="text-2xl font-bold mb-4">
          Welcome to the Angular Assignment Client App
        </h1>
        <ol class="list-decimal ml-6 space-y-2">
          <li class="text-lg">
            <h3 class="font-semibold">Set Up the Angular Project</h3>
          </li>
          <li class="text-lg">
            <h3 class="font-semibold">Create Client-Side Navigation</h3>
          </li>
          <li class="text-lg">
            <h3 class="font-semibold">
              Create Pages: Home Page: A simple landing page with introductory
              text. API Data Page: A page that consumes data from a public API
              and displays it. Form Page: A reactive form to submit any user
              feedback, quiz, survey or contact information.
            </h3>
          </li>
          <li class="text-lg">
            <h3 class="font-semibold">Use Angular Service and HTTP Client:</h3>
          </li>
          <li class="text-lg">
            <h3 class="font-semibold">Implement Reactive Form:</h3>
          </li>
          <li class="text-lg">
            <h3 class="font-semibold">Deploy the Application:</h3>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
